<div className="App">
    <header class="header">
      <div class="navbar-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" routerLink="/home">
                  <img src="assets/img/logo/logo.png" alt="Logo" />
                </a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                </button>
                <div
                  class="collapse navbar-collapse sub-menu-bar"
                  id="navbarSupportedContent"
                >
                  <ul id="nav" class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="page-scroll" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" routerLink="/doctinfo"
                        >Show Doctor</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" routerLink="/patientinfo">Show Patient</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" routerLink="">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" routerLink="">Contact Us</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="home" class="hero-section">
      <div class="hero-shape">
        <img src="assets/img/hero/hero-shape.svg" alt="" class="shape" />
      </div>
      <div class="main-container-size">

        <div class="container">
         
                  <h4 style="text-align: center" class="pat-info-color"> Patient Details</h4>
  
                  
                  <div class="table-wrapper">
                    <input  type="text"  placeholder="Please Enter The Id" [(ngModel)]="patientId">
                  <button type="submit" (click)="getPatientDetails(patientId)">Submit</button>
                    <table class="fl-table" >
                      <thead>
                        <tr>
                          <th>Patient Id</th>
                          <th>Patient Name</th>
                          <th>Date of Visit</th>
                          <th>Visited Doctor</th>
                          <th>Doctor's ID</th>
                          <th>Precription</th>
                          <!-- <th>Delete</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr >
                          <td>{{ patients.patient.patientId}}</td>
                          <td>{{ patients.patient.patientName }}</td>
                          <td>{{ patients.patient.dateOfVisit }}</td>
                          <td>{{ patients.patient.visitedDoctor }}</td>
                          <td>{{ patients.doctor.doctId}}</td>
                          <td>{{ patients.patient.precription }}</td>
                           <!-- <td class="text-center"><button class="btn btn-danger btn-xs btn-left-mr" (click)="deletePatient(patients.patient.patientId)" ><span class="glyphicon glyphicon-remove" ></span> Delete</button></td> -->
                        </tr>
                      </tbody>
    
                      <tbody></tbody>
                    </table>
                  </div>
                  
                </div>
                
      </div>
  
         
    </section>
    <div class="footer item_center">
      <p >Developed By &nbsp; &nbsp;- &nbsp; &nbsp; <span style="color: white;">Mindtree Mind </span> </p>
  </div>
  </div>
  
  
  